<h2 mat-dialog-title>Edit Data</h2>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="editForm">
        <mat-form-field class="form-field">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position" readonly>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Weight</mat-label>
            <input matInput formControlName="weight">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Symbol</mat-label>
            <input matInput formControlName="symbol">
          </mat-form-field>

          <mat-dialog-actions>
            <button mat-flat-button (click)="onSave()">Save</button>
            <button mat-flat-button (click)="onCancel()">Cancel</button>
          </mat-dialog-actions>
    </form>
</div>

